@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #F4F5F4;
  --text: #161316;
  --info: #3772FF;
  --danger: #DF2935;
  --warning: #FDCA40;
  --secondary: #E6E8E6;
}
